body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* ================= HEADER ================= */
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}

#burger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1100;
}

#sort-select {
  width: 200px;
  max-width: 100%;
}

#search-input {
  flex: 1;
  min-width: 120px;
}

/* ================= MAIN ================= */

main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

section {
  flex: 3;
  margin-right: 20px;
}

/* ================= CARD ================= */

#card-wrapp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ================= SIDEBAR ================= */

aside {
  flex: 1;
  background-color: #e41d1d;

  display: flex;
  flex-direction: column;
}

aside button {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
}

/* ================= FOOTER ================= */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* ================= TABLET (768px) ================= */
@media (max-width: 768px) {
  #burger {
    display: block;
  }

  main {
    flex-direction: column;
  }

  aside {
    position: absolute;
    top: 60px; /* adjust to header height */
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1000;
  }

  aside.active {
    max-height: 300px; /* adjust depending on content */
  }

  #sort-select {
    width: 120px;
    font-size: 0.85rem;
  }

  #card-wrapp {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= MOBILE (360px) ================= */
@media (max-width: 360px) {
  body {
    font-size: 14px;
  }
  header {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #sort-select,
  #search-input,
  header button {
    flex: 1;
  }

  #card-wrapp {
    grid-template-columns: 1fr;
  }
}
